html{
    overflow: hidden;
    background-color: #77c477c4;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    overflow: hidden;
    background-color: #77c477c4;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%; /* Faz a bolinha ser redonda */
    margin-right: 10px; /* Espaço entre a bolinha e o texto */
    background-color: red; /* Vermelha por padrão */
    border: 1px solid #000; /* Borda para parecer com a imagem */
    display: inline-block;
}
  
  /* Quando preenchido, a bolinha fica verde */
.status.filled {
background-color: yellow;
}

#menu-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 90vh;
    background-color: #77c477c4;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    transition: transform 0.3s ease;
    overflow: auto;
    z-index: 1000; 
}

#menu.visible {
    transform: translateX(0); /* Quando visível, o menu vem para a tela */
  }

#content-container {
    margin-left: 25%; /* Move o conteúdo para a direita, deixando espaço para o menu */
    width: 75%; /* Ocupa os três quartos restantes da tela */
    padding: 20px;
    /* box-sizing: border-box; */
    height: 90vh; /* Ocupa toda a altura da tela */
    overflow: scroll;
    background-color: #77c477c4;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-toggle {
    cursor: pointer;
    display: block;
    padding: 10px;
    background-color: #6347ec;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
}

.menu-toggle::before {
    content: "▶";
    display: inline-block;
    margin-right: 10px;
}

.expanded::before {
    content: "▼";
}

.submenu {
    display: none;
}

.expanded + .submenu {
    display: block;
}

.submenu li {
    padding: 5px 10px;
    background-color: #c2a6e8;
    margin: 2px 0;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.tab-buttons {
    border-bottom: 1px solid #ddd;
}

.tab-buttons button {
    width: 250px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-buttons button:hover {
    background-color: #ddd;
}

.tab-buttons button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}

.tab-content.active {
    display: block;
    overflow: auto;
}
#submit-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #025802; /* Cor de fundo opcional */
    padding: 10px;
    text-align: center;
    border-top: 1px solid black; /* Linha de separação opcional */
}

#submit-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white;
    border: none;
    border-radius: 5px;
}

#submit-button:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

textarea {
    width: 90%;
    max-height: 70%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Permite redimensionar verticalmente */
}

/* Estilo do botão sandwich */
#sandwich-btn {
    position: fixed;
    top: 1vh;
    left: 1vw;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    z-index: 1001; 
    display: none; /* Esconde o botão inicialmente */
}

/* Estilo para o menu quando oculto */
#menu-container.hidden {
    transform: translateX(-100%);
    }

    /* Estilos responsivos */
    @media (max-width: 768px) {
    #menu-container {
        width: 70%; /* O menu ocupa 70% da tela em telas menores */
    }

    #content-container {
        margin-left: 11vw;
        width: 100%;
    }

    #sandwich-btn {
        display: block; /* Mostra o botão sandwich em telas pequenas */
    }
}